__pycache__/
*.py[cod]
.idea/*
*.pyc
**/__pycache__/*
.env
_build/
lightning_logs/*
*.egg-info/
.installed.cfg
*.egg
**/__pycache__/
**/.ipynb_checkpoints/
**/checkpoints/
.data/patches_with_transforms.csv
.data/patches_with_transforms.json.DS_Store
